@charset "UTF=8";
@font-face{
   font-family: playstory;
   src: url(fonts/playstory.otf);
   font-weight: normal;
}
@font-face{
    font-family: neue;
    src: url(fonts/neuemail.ttf);
    font-weight: normal;
} 
@font-face{
    font-family: kinkee;
    src: url(fonts/kinkee.TTF);
    font-weight: normal;
}
@font-face {
    font-family: chasing;
    src: url(fonts/chasing.otf);
    font-weight: normal;
}
:root{
    --fontetitulos: 'playstory', sans-serif;
    --fonteprincipal: 'neue', sans-serif;
    --fontecarta: 'chasing', sans-serif;
    --fontegay: 'kinkee', sans-serif;
    --corprincipal: #F7B0C2;
    --cordestaques: #6B4E71;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--corprincipal);
}
h1{
    margin: 20px 0 0 0;
    font-family: var(--fontetitulos);
    text-align: center;
    font-size: 40px;
}
h2{
    margin: 0;
    font-family: var(--fontetitulos);
    text-align: center;
    font-size: 20px;
}
p{
    margin: 0;
    font-family: var(--fonteprincipal);
}
/* Começo das configurações de nav */
#navegação{
    width: 100%;
    height: auto;
    display: inline-flex;
    background-color: var(--cordestaques);
    box-shadow: 0px 0px 7px #000000;
}
#logo{
    width: fit-content;
    height: 50px;
    margin: auto;
    margin-left: 15px;
}
nav{
    width: fit-content;
    margin: auto;
    margin-right: 5px;
    text-align: right;
}
nav a{
    font-family: var(--fontetitulos);
    font-size: 20px;
    padding: 0 10px 0 0;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
}
nav a:hover{
    padding: 5px;
    background-color: var(--corprincipal);
    border-radius: 5px;
    transition: 0.5s;
    font-size: 25px;
}
nav a:active{
    color: #CBEEF3;
}
/* Fim das configurações de nav */
/* Começo das configurações de index */
#perguntas{
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3.5% 10%;
    background-color: var(--cordestaques);
    align-content: center;
    justify-content: center;
    text-align: center;
    opacity: 0.9;
    color: #CBEEF3;
}
#perguntas h2{
    margin: 1.5% 0 0;
    font-size: 20px;
    letter-spacing: 3px;
}
#perguntas p{
    width: 100%;
    margin: 30px 0px 5px;
    font-size: 25px;
}
#perguntas label{
    font-size: 20px;
    font-family: var(--fonteprincipal);
}
#perguntas button{
    margin: 30px 0px 30px ;
    letter-spacing: 2px;
    font-family: var(--fontegay);
    font-size: 30px;
    opacity: 0.8;
}
#perguntas button:hover{
    transition: 0.5s;
    background-color: #000000;
    color: #FFFFFF;
    opacity: 1;
}
/* Fim das configurações de index */
/* Começo das configurações de presente */
.p1h1{
    font-family: var(--fontegay);
}
.p1h2{
    margin: 5px 0 0;
    text-align: center;
}
#presente{
    height: 100vh;
    margin: 240px 0 0 0;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}
#presente .envelope{
    background-color: #A39BA8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
#presente .envelope .envelopeinterno{
    position: relative;
    width: 600px;
    height: 460px;
}
#presente .envelope .envelopeinterno::before{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 260px solid #544D70;
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}
#presente .envelope .envelopeinterno::after{
    content: '';
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 260px solid transparent;
    border-right: 300px solid #544D70;
    border-left: 300px solid #544D70;
    border-bottom: 200px solid #544D70;
}
.texto{
    position: absolute;
    right: 22%;
    bottom: 0;
    width: 54%;
    height: 85%;
    background: #A2E8DD;
    transition: all 1s ease-in-out;
    padding: 20px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.texto .frase  h3{
    font-family: var(--fonteprincipal);
    font-size: 15px;
    color: #000000;
    text-align: center;
}
.texto .frase p{
    text-align: justify;
    font-family: var(--fontecarta);
    font-size: 14px;
}
.heart{
    position: absolute;
    top: 120%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #941C2F;
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.heart::before, .heart::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #941C2F;
    border-radius: 50%;
}
.heart::before{
    top: -7.5px;
}
.heart::after{
    right: 7.5px;
}
.aba .envelopeinterno::before{
    transform: rotateX(180deg);
    z-index: 0;
    transition: 0.01ms;
}
.aba .envelopeinterno .texto{
    height: 100%;
    bottom: 250px;
    color: #000000;
    transform: scale(1.5);
    transition-delay: 0.1ms;
    z-index: 2;
}
.aba .heart{
    transform: rotate(90deg);
    transition-delay: 0.1s;
    transition: 1s;
    opacity: 0;
}
/* Fim das configurações de presente */
/* Começo das configurações de momento */
.mmntesq{
    max-width: 70%;
    height: auto;
    margin: 30px 15% 60px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cordestaques);
    border-radius: 5px;
    box-sizing: border-box;
}
.mmntesq p{
    flex: 1 1 65%;
    padding: 15px 10px 0 10px;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: var(--fonteprincipal);
    color: #000000;
    font-size: 25px;
    text-align: justify;
}
.mmntesq img{
    flex: 0 0 200px;
    margin: auto 15px;
    padding: 15px 0 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
}
.mmntesq img:hover{
    transform: scale(1.5);
    padding: 0;
    margin: 60px 60px 60px;
    transition: 1.5s;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}
.mmntdir{
    max-width: 70%;
    height: auto;
    margin: 30px 15% 60px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cordestaques);
    border-radius: 5px;
    box-sizing: border-box;
}
.mmntdir img{
    flex: 0 0 200px;
    margin: auto 15px;
    padding: 15px 0 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
}
.mmntdir img:hover{
    transform: scale(1.5);
    padding: 0;
    margin: 60px 0 60px 60px;
    transition: 1.5s;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}
.mmntdir p{
    flex: 1 1 65%;
    padding: 15px 10px 0 10px;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: var(--fonteprincipal);
    color: #000000;
    font-size: 25px;
    text-align: justify;
}
.mmntesqdir{
    max-width: 70%;
    height: auto;
    margin: 30px 15% 60px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cordestaques);
    border-radius: 5px;
    box-sizing: border-box;
}
.mmntesqdir img{
    flex: 0 0 200px;
    margin: auto 15px;
    padding: 15px 0 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
}
.mmntesqdir p{
    flex: 1 1 65%;
    padding: 15px 10px 0 10px;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: var(--fonteprincipal);
    color: #000000;
    font-size: 25px;
    text-align: justify;
}
/* Fim das configurações de momento */
/* Começo das configurações de galeria */
.g1h1{
    margin: 30px 10% 20px;
    max-width: 80%;
    font-size: 20px;
}
.areadeimagem{
    max-width: 80%;
    margin: 0 10%;
    background-color: var(--cordestaques);
}
.link{
    display: inline-block;
    max-width: 240px;
    max-height: 240px;
    margin: 0 13px;
}
.link img{
    width: 240px;
    height: 240px;
    margin: 10px 0 40px 0;
    object-fit: cover;
}
.link img:hover{
    transition: 0.5s;
    border: 10px solid #FFFFFF;
    border-bottom: 50px solid #FFFFFF;
}
.link a{
    display: none;
    margin: 0 45%;
}
.link a img{
    width: 25px;
    height: auto;
}
.link img:hover~a{
    margin-top: -85px;
    display: none;
}
.areadevideo{
    max-width: 80%;
    margin: 0 10%;
    background-color: var(--cordestaques);
}
video{
    padding: 15px 0 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
/* Fim das configurações de galeria */
/* Começo das configurações de fim */
.fim{
    display: flex;
    margin-top: 50px;
    background-color: var(--cordestaques);
    font-size: 20px;
    justify-content: center;
    font-family: var(--fonteprincipal);
}
/* Fim das configurações de fim */